@charset "utf-8";
/* CSS Document */

html,body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#container{
	min-height: 100%;
	position: relative;
}

#header {
	position:fixed;
	padding: 10px;
	color:#0C9;
  background: #ddd;
  width: 100%;
	height: 80px;
	z-index: 1000;
	}

#body{
	padding-bottom: 60px;
}

#footer{
	position:fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #999;

}

#header h1{
	position: absolute;
	top:5px;
	left: 50px;

}

.SearchContainer{

  	position: absolute;
  	top:50px;
  	left:380px;
		z-index:1000;
  	transform: translate(-50%, -50%);
	}

.searchTerm{
	border: 2px solid #0C9;
	outline: none;
	padding: 2px;
	color: #0C9;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	width: 300px;
	height: 40px;

	}

.searchTerm:focus{
  color: #0C9;
}

.searchButton {
  	border: 2px solid #0C9;
		outline: none;
  	background: #0C9;
  	text-align: center;
  	border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
  	cursor: pointer;
  	font-size: 15px;
		width: 50px;
		height: 45px;
    color:#fff;
	}

.searchButton:active{
	background:#CCC
}


#footer li{
	display: inline;
}
.float-left{
	float:left;
}

.float-right{
	float:right;
}
.float-left a{
	color:#CCC;
	margin:20px;
	text-decoration: none;
}

.float-right a{
	color:#CCC;
	margin:20px;
	text-decoration: none;
}

#tab{
	position: fixed;
	top:100px;
	color: #C90;
	z-index:1000;
	width: 100%;
	background-color: #eee;

}


#tab li{
	display: inline;
	cursor: pointer;
}

.tablinks{
	margin:20px;
	text-decoration: none;
}

#resultDisplay{
	position: absolute;
  top: 250px;

	width: 100%;
	}

#ProVsCon{
	position:relative;
}

#Pro{
	position:absolute;
	left:30%;
	width: 500px;
	color:#0C6;
}
#Con{
	position:absolute;
	left:60%;
	width: 500px;
	color:#C90;
}

#mds{
	position:relative;
}

#euclideanDistance{
	position: absolute;
	width: 600px;
	left:300px;
}

#KLDistance{
	position: absolute;
	width: 600px;
	left:1000px;
}
#CosineSimilarity{
	position: absolute;
	top:400px;
	width: 600px;
	left:300px;
}
#barycentric{
	position: fixed;
}

#polygon{
	position:fixed;
	top:150px;
	left: 500px;
}

#checkbox{
	position:fixed;
	left:550px;
	top: 200px;
}

input[type=checkbox]+label {
	padding-right: 20px;
	border-radius: 1px;
	color:#ccc;
}


input[type=checkbox]:checked+label{
	padding-right: 20px;
	border-radius: 1px;
	color: #000;
}
