@charset "utf-8";
/* CSS Document */

html,body{
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#container{
	min-height: 100%;
	position: realti;

}

#header {
	position:fixed;
	padding: 10px;
	color:#0C9;
  background: #ccc;
  width: 100%;
	height: 80px;
	z-index: 1000;
	}

#body{
	padding-bottom: 60px;
}

#footer{
	position:fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: #999;

}

#header h1{
	position: absolute;
	top:5px;
	left: 50px;

}

.SearchContainer{

  	position: absolute;
  	top:50px;
  	left:380px;
		z-index:1000;
  	transform: translate(-50%, -50%);
	}

.searchTerm{
	border: 2px solid #0C9;
	outline: none;
	padding: 2px;
	color: #0C9;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	width: 300px;
	height: 40px;

	}

.searchTerm:focus{
  color: #0C9;
}

.searchButton {
  	border: 2px solid #0C9;
		outline: none;
  	background: #0C9;
  	text-align: center;
  	border-top-right-radius: 8px;
		border-bottom-right-radius: 8px;
  	cursor: pointer;
  	font-size: 15px;
		width: 50px;
		height: 45px;
    color:#fff;
	}

.searchButton:active{
	background:#CCC
}


#footer li{
	display: inline;
}
.float-left{
	float:left;
}

.float-right{
	float:right;
}
.float-left a{
	color:#CCC;
	margin:20px;
	text-decoration: none;
}

.float-right a{
	color:#CCC;
	margin:20px;
	text-decoration: none;
}

#tab{
	position: fixed;
	top:100px;
	color: #C90;
	z-index:1000;
	width: 100%;
	background-color: #ddd;

}


#tab li{
	display: inline;
	cursor: pointer;
}

.tablinks{
	margin:20px;
	text-decoration: none;
}

#resultDisplay{
	position: relative;
  top: 250px;

	width: 100%;
	}

#ProVsCon{
	position:relative;
}

#Pro{
	position:absolute;
	left:30%;
	width: 500px;
	color:#0C6;
}
#Con{
	position:absolute;
	left:60%;
	width: 500px;
	color:#C90;
}

#mds{
	position:relative;
}

#euclideanDistance{
	position: absolute;
	width: 600px;
	left:300px;
}

#KLDistance{
	position: absolute;
	width: 600px;
	left:1000px;
}
#CosineSimilarity{
	position: absolute;
	top:400px;
	width: 600px;
	left:300px;
}
#barycentric{
	position: fixed;
<<<<<<< HEAD:css/search.css
	width: 100%
	height:100%
}

#polygon{
	position:fixed;
	top:150px;
	left: 480px;
=======
	top: 100px;
	left: 0px;
}

#polygon{
	position:absolute;
	top:25px;
	left: 0px;
>>>>>>> origin/master:web/css/search.css
}

#checkbox{
	position:fixed;
<<<<<<< HEAD:css/search.css
	left:440px;
	top: 180px;
=======
	left:0px;
	top: 190px;
>>>>>>> origin/master:web/css/search.css
}

input[type=checkbox]+label {
	padding-right: 20px;
	border-radius: 1px;
	color:#ccc;
}


input[type=checkbox]:checked+label{
	padding-right: 20px;
	border-radius: 1px;
	color: #000;
}

.words{
	position: relative;
	z-index: 10000;
}

.highlight{
	position:relative;
	z-index: 0;
}


#proBox{
	position: absolute;
	top:-100px;
  width: 305px;
	left:20px;
	height: 550px;
	background: #f9f8f9;
	border-right-width: 1.5px;
	border-right-color: #0C9;
	border-right-style: solid;
	overflow:hidden;
	overflow-y: scroll;
}
#proTitle{
	position: absolute;
  width: 20px;
	height: 600px;
	top:-100px;
	background:#0C9;
}
#conBox{
	position: absolute;
	top:-100px;
  width: 310px;
	height: 560px;
	background: #f9f8f9;
	left: 1200px;
	border-left-width: 1.5px;
	border-left-color: #C90;
	border-left-style: solid;
	overflow:hidden;
	overflow-y: scroll;
}
#conTitle{
	position: absolute;
  width: 25px;
	height: 600px;
	left: 1510px;
	top:-100px;
	background:#C90;
}
.argumentText{
	list-style-type: none;
}
.argumentText li{
	font-size:14px;
	margin-bottom: 25px;
	margin-right: 8px;
	margin-left: -20px;
}

.argumentText a{
	text-decoration: none;
	color: gray;
}

#proBox ul li a:hover{
	color: #0c9 !important;
}

#conBox ul li a:hover{
	color: #c90 !important;
}
